@import "styles/colors";
@import "styles/flex";
@import "styles/typography";
@import "styles/spacing";
@import "styles/sizing";
@import "styles/misc";

@font-face {
  font-family: "inter";
  src: url("./Inter.woff2") format("woff2");
  font-weight: 1 999;
}

html {
  font-family: "inter";
}

.grid {
  padding-left: 10px;
  padding-right: 10px;
  width: 1050px;
  max-width: 100%;
  display: grid;
  grid-row-gap: 30px;
  grid-column-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-flow: dense;
}

@media (max-width: 900px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .grid > div {
    grid-column: 1 / -1 !important;
  }
}

body {
  background-color: var(--dark1);
  color: white;
}

html {
  color: white;
}

:root {
  --ion-background-color: var(--dark1);
  //   --ion-text-color: var(--white);
}

.border-top {
  border-top: solid 1px;
}

ion-icon {
  color: white;
}

.icon-container {
  color: var(--dark1);
  justify-content: space-between;
}

.icon-container > * {
  flex: 1;
  margin-top: 15px;
  margin-bottom: 15px;
  border-right: solid 1px var(--dark1);
}

.icon-container > *:last-child {
  border-right: none;
}

.small {
  width: 40px;
  height: 40px;
}
